# ----------------------------
# build output and dependencies
# ----------------------------

node_modules/
dist/
build/
coverage/

# ----------------------------
# configuration files
# ----------------------------

vite.config.*
*.config.js
*.config.cjs
*.config.mjs

# ----------------------------
# environment and system files
# ----------------------------

.env
.env.*
.DS_Store

# ----------------------------
# Husky and Cypress
# ----------------------------

.husky/
cypress/